@model WebApplication3.Models.Loan

@{
    ViewBag.Title = "Details";
    var loanAmount = Model.LoanAmount;
    var period = 1;
}

<h2>Details</h2>

<div>
    <h4>Loan</h4>
    <hr />
        <table class="table">
           <tr>
               <th>
                   Period
               </th>
               <th>
                   Interest
               </th>
               <th>
                   Pricipal
               </th>
               <th>
                   Balance
               </th>
           </tr>
            @while (loanAmount > 0)
            {
                period += 1;
              <tr>
                  <td>
                      @period
                  </td>
              </tr>
                if(period == 12)
                {
                    break;
                }
            }
        </table>
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
