@model WebApplication3.Models.Loan

@{
    ViewBag.Title = "Details";
    double loanAmount = Convert.ToDouble(Model.LoanAmount);
    double period = 1;
    var annual_rate = Convert.ToDouble(Model.LoanInterestRate);
    double monthly_rate = ((annual_rate) / 12);
    int num_payment = Model.LoanTerm * 12;
    var double_to_cast = Math.Pow((1 + monthly_rate), num_payment);
    var monthly_payment = ((loanAmount*monthly_rate)/ Math.Pow(monthly_rate* (1 + monthly_rate), num_payment) / Math.Pow(1 + monthly_rate, num_payment - 1) * loanAmount);


    var balance = Convert.ToDouble(Model.LoanAmount);
    var monthly_interestpaid = (balance * monthly_rate);
    var prin = monthly_interestpaid-monthly_payment;
}

<h2>Details</h2>

<div>
    <h4>Loan</h4>
    <hr />
        <table class="table">
           <tr>
               <th>
                   Period
               </th>
               <th>
                   Payment
               </th>
               <th>
                   Principle
               </th>
               <th>
                   Interest
               </th>
               <th>
                   Balance
               </th>
           </tr>
            @while (true)
            {
                <tr>
                    <td>
                        @period
                    </td>
                    <td>
                        @monthly_payment
                    </td>
                    <td>
                        @prin
                    </td>
                    <td>
                        @monthly_interestpaid
                    </td>
                    <td>
                        @balance
                    </td>
                </tr>
                if(period == 5)
                {
                    break;
                }
                monthly_interestpaid = (balance * monthly_rate);
                prin = (monthly_interestpaid - monthly_payment);
                balance -= (double)prin;
                period += 1;
            }
        </table>
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
