@{
    ViewBag.Title = "Services";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <div>
        <p>
            The importance of establishing good credit cannot be overstated.
            Credit is a necessary element of ensuring your financial health. There are a few
            very simple tips you can follow that will help you to both get and keep a good credit score.
            Paying your bills on time, every time they are due is an obvious requirement. You should also refrain from getting
            too close to your credit score. Balances should be low relative to overall credit limit.
            There are some additional considerations to make. A long history of credit looks good to potential creditors. They
            see you as a low risk investment. On the other hand, you should only apply for credit you need because any spike in
            credit applications may indicate that you have hit tough financial times, raising serious doubts about your ability to repay loans.
        </p>

    </div>
    <div>
        <p>
            Debit is an alternative to credit. Debit is essentially a more convenient form of cash. Debit
            payments are immediately transferred from your bank account, so you can't spend money you don't already
            have. These days, with technologies like Google Wallet and ApplePay, you don't even need a debit card, all
            you need is your phone in order to pay in a quick and painless manner. The good thing about debit is that
            you can't drive yourself into debt because you can only spend what's in your account. For large purchases, therefore,
            credit is usually necessary.
        </p>
    </div>
    <div>
        <p>
            Personal financial investments is a very broad topic and is unique to each person's situation.
            There are very many ways to invest. Popular methods include putting your money into stocks, bonds,
            mutuals funds, or real estate. The chief motivation behind investing is, as they say, the desire to "put you money to work for you".
            Coupled with the potential of compound interest, investing can be an extremeky lucrative strategy if done carefully.
        </p>
    </div>
</body>
</html>


